
/*font-family: 'Sofia', cursive;*/
/*font-family: 'Kaushan Script', cursive;*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}
body{
	font-size: 16px;
}

.logo{
	width: 5%;
	height: 2%;
}

i{
	color: #e0c71f;
}

nav{
	font-size: 1.6rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	background: #222751;
}

.container-nav-sub{
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-nav-sub input{
	padding: .5rem 7rem .5rem 3rem;
	margin:0px 1rem;
	border: 1px solid black;
	border-radius: 2rem;
}

.container-nav-sub input:focus{
	outline-color: #ffc30b;
}


.hamburger{
	background-color: black;
	border-radius: .5rem;
	border-color: #e0c71f;
	font-size: 30px;
	cursor: pointer;
	display: none;
	padding: .5rem 1.5rem;
}

.hamburger:focus{
	outline: none;

}

.nav-ul{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 0;
	list-style: none;
}

.nav-ul li a{
	display: inline-block;
	color: white;
	padding: .5rem 1rem;
	text-decoration: none;
	margin-right: 50px;
} 

.dropdown{	
	font-size: 18px;
	align-items: baseline;
	position: relative;
	background: #222751;
	color: white;
	border: none;
	margin: 0;

}

.dropdown-btn{
	position: relative;
	background: #222751;
	color: white;
	border: none;
	margin: 0;
}

nav li a:hover, .dropdown:hover .dropdown-btn{
	color: #ffc30b;	
}

.dropdown-menu{
	position: absolute;
	background-color: white;
	min-width: 16rem;
	box-shadow: 0px 8px 1.6rem 0px rgba(0, 0, 0, 0.2);
	border-radius: .5rem;
	z-index: 1;
	flex-direction: column;
	display: none;
}

.dropdown-menu a{
	color: black;
	padding: 1.2rem 1.6rem;
	text-decoration: none;
	display: block;
	overflow: hidden;
}

.dropdown-menu a:not(:last-child){
	border-bottom: 1px solid gray;
}

.dropdown-menu a:hover{
	background-color: #ddd;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.nav-end{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10rem;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color:  #E5E5E5;
	font-size: 1.6rem;
}

.nav-ul li i {
	padding-left: 1rem;
}

.nav-end li a {
	margin: 0 auto;
	padding: auto .5rem;
}

.btn-create{
	padding: .5rem 2.7rem .5rem 3rem;
	border-radius: .5rem;
	border: 1px solid black;
	font-size: 1.6rem;
}

.btn-connect{
	font-size: 1.6rem;
	padding: .5rem 2rem;
	border-radius: .5rem;
	border: 1px solid black;
	background-color: #ffc30b;
}

.btn-create{
	background-color: white;
}

.btn-create:hover{
	background-color: #ffc30b;
	color: white;
}

.btn-connect:hover{
	color: white;
}



/*Media Queries*/


@media screen and (min-width: 768px){
	input{
		width: 100%;
	}
	nav{
		width: 100%;
	}
}

.dark-mode{
	background-color: black;
}

.section{
	height: 408px;
	background-repeat: repeat-x;
	background-image: url(../images/back.afen.png);
	text-align: center;
	line-height: 5.5rem;	
	font-weight: bold;
	position: relative;
	text-align: center;
}

.section-text{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section-text h1{
	color: white;
	font-size: 4rem;
	font-weight: bold;
	line-height: 5.5rem;
}
.section h1 span{
	color: #FFC30B;

}

.text-btn-main{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.text-btn1{
	padding: 1rem 4.5rem;
	background: #4D55A6;
	border-radius: 1.5rem;
	border: 1px solid black;
	color: white;
	margin-right: 2rem;
	font-size: 2rem;
}
.text-btn1:hover{
	background: transparent;
}

.text-btn2{
	padding: 1rem 40px;
	background: transparent;
	border-radius: 1.5rem;
	border: 1px solid black;
	color: white;
	font-size: 2rem;
}
.text-btn2:hover{
	background: #4D55A6;
}

.row{
	max-width: 1140px;
	margin: 0 auto;
}

.ph-chats{
		position: absolute;
		left: 100%;
		bottom: 50vh;
		background-color: #4D55A6;
		padding: 1rem;
		border-radius: 5rem;
		color: white;
		font-size: 2rem;
	}

.row:not(:last-child){
	margin-bottom: 80px;
}

.row::after{
	content: "";
	display: table;
	clear: both;
}

.row [class^="col-"]{
	background-color: white;
	float: left;
	border-radius: 1rem;
}

.row [class^="col-"]:not(:last-child){
	margin-right: 2rem;
}

.row .col-1-of-3{
	width: calc((100% - (2 * 2rem)) / 3);
	border-radius: 1rem;

}

.row .col-1-of-4{
	width: calc((100% - (3 * 2rem)) / 4);
}

.note{
	margin: 50px 0;
	color: #222751;
}
.note span{
	color: #4D55A6;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 1rem;
  position: relative;
}

.card img {
  border-radius: .5rem .5rem 0 0;
  width: 100%;
}

.card:hover {
  box-shadow: 2px 8px 1rem 2px rgba(77, 85, 166,0.5);
}

.abt{
	position: absolute;
	top: 0;
	left: 0;
	border-radius: .5rem 0 .5rem 0;
	width: auto;
	padding: 2px 1rem;
	background-color: #4D55A6;
	text-align: center;
	color: white;
}
.vector{
	position: absolute;
	max-width: 1.5rem;
	max-height: 1rem;
	left: 87.08%;
	right: 11.68%;
	bottom: 100%;
	/*border: 2px solid #000000;*/
}


.container {
  position: relative;
  /*height: 25vh;*/
  width: auto;
  align-items: baseline;
  justify-content: space-between;
  padding: 2rem 2px;
  border-radius: 1rem;
}

.rd-head{
	border-radius: 1rem;
}

.rd-head .rd {
	max-width: 20%;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.rd-mid{
	text-align: center;
	padding-top: 2rem;

}
h4{
	color: #473C55;
}

.rd-mid h3{
	color: #7F7F7F;
}

.rd-end{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto 1rem;
}
.rd-footer{
	background-color: #4D55A6;
	text-align: center;
	color: white;
	padding: 1rem;
	border-radius:0 0 .5rem .5rem;

}




/*My queries*/

/*breakpoints-

phone --less than 600px

tab-port --less than 900px

tab-land --less than 1200px

desktop --

big-desktop --greater than 1800px

*/


@media (max-width: 37.5em){
	.container-nav{
		width: 100vw;
		display: flex;
	}
	.logo{
		width: 15%;
		height: 10%;
		margin: 0;
	}

	.container-nav-sub input{
		display: none;
	}

	.hamburger{
		display: block;
	}

	.nav-ul li a{
		margin-right: 0;
	}

	.nav-ul{
		display: none;
		flex-direction: column;
		width: 100%;
	}

	.nav-ul.show{
		display: flex;
		background-color: black;
	}

	.dropdown-menu{
		position: relative;
	}

	.dropdown,.dropdown-btn{
		background-color: black;
	}

	.logo{
		width: 80px;
	}

	.nav-end{
		margin: 0;
		border: none;
		flex-direction: column;
	}

	.nav-ul li a {
		padding: 1rem;
	}
	.row{
		display: flex;
		flex-direction: column;
		width: 95vw;
	}
	.row [class^="col-"]{
		width: 90vw;
		margin-bottom: 2rem;
		margin-left: 1rem;
	}
	.rd-head{
		margin-bottom: 3rem;
	}
	.col-1-of-4{
		margin-bottom: 2rem;
	}
	.col-1-of-4 h4 span{
		color: red;
	}

}



@media (max-width: 56.25em){
	.logo{
		width: 15%;
		height: 10%;
	}


	.hamburger{
		display: block;
	}

	.nav-ul li a{
		margin-right: 0;
	}

	.nav-ul{
		display: none;
		flex-direction: column;
		width: 100%;
	}

	.nav-ul.show{
		display: flex;
		background-color: black;
	}

	.dropdown-menu{
		position: relative;
	}
	
	.dropdown,.dropdown-btn{
		background-color: black;
	}
	
	.nav-ul li a {
		padding: 1rem;
	}
	.row{
		display: flex;
		flex-direction: column;
		width: 95vw;
	}
	.ph-chats{
		visibility: hidden;
	}
	.row [class^="col-"]{
		width: 90vw;
		margin-bottom: 2rem;
		margin-left: 1rem;
	}
	.rd-head{
		margin-bottom: 3rem;
	}
	.col-1-of-4{
		margin-bottom: 2rem;
	}
	.col-1-of-4 h4 span{
		color: red;
	}

}



@media (max-width: 75em){


}



@media (min-width: 112.5em){

}